@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  max-width: 1280px;
}

a {
  color: #131313;
  text-decoration: inherit;
}

a:hover {
  color: #4891f8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: border-color 0.25s;
}

body {
  display: flex;
  place-items: center;
  margin: 0;
}

.next-button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #585858;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}